/* Section One */ 
@font-face {
    src: url(/Fonts/hk-grotesk.regular.ttf);
    font-family:"myFirstFont";  /*Font used for the body */

}

body{
    font-family: "myFirstFont";
    background-color: #FDF9F1 ;
   
}

.GradientBackground_Container {
    background: linear-gradient(#FDF9F1,#FDF9F1,#FDF9F1,#FFFEFD);
    height: 760px;
}

/*Navigation*/
ul{
    font-weight:bolder; 
    font-weight:500px;
    text-align:left;
    font-size:19px;
}

li{
    display: inline; 
    gap: 450px;
    padding: 24px 26px;

}

li:hover{
    color:#303178;
}

a{
    text-decoration: none;
    color: #000000; 
}

a:hover{
    color:#303178;
}

.button1{
    color: #303178; 
    border-color: #303178; 
    border-width: 1px;
    background-color: #FDF9F1;
    text-align: center;
    font-family: "myFirstFont";
    font-weight: 900;
    float: right; 
    padding: 24px 26px; 
    margin-top: 0px;
    margin-left: 8px;
    border-radius: 8px;

}
.button2{
    background-color: #303178;
    color: white;
    border: none; 
    text-align: center;
    font-family: "myFirstFont";
    font-weight: 900;
    float: right; 
    padding: 24px 26px; 
    margin-top: 0px;
    margin-left: 8px;
    border-radius: 8px;
}

.button2:hover{
    background-color: #122032;
}
.button1:hover{
    background-color: white;
}
.SectionOne_h1{
    color: #122032; 
    position: relative; 
    margin-top: 230px;
    margin-left: 150px;
    margin-bottom: 0%;
    font-weight: 600;
    font-size: 46px;
    line-height: 50px;
}
.SectionOne_p{
    color: #122032; 
    position: relative; 
    margin-left: 150px;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
}

.LogoImage{
    max-height:100px; 
    max-width: 250px;
    position: relative; 
    top: 15px; 
    left: 0px; 
}

.DownwardArrow{
    max-height: 30px;
    max-width: 30px;
    position: relative; 
    top: 7px; 
}

.Image1{
    float: right; 
    max-height: 550px; 
    max-width: 558px;
    position: relative; 
    bottom: 420px; 
    right: 50px; 
}

.FixedIconImage{
    max-height: 65px; 
    max-width: 55px; 
    border-radius: 50%;
    box-shadow: 0px 0px 10px grey;
    position: fixed;
    z-index: 1;
}

.FixedIcon{
    padding-left: 1255px;
    padding-top: 25px;
    position: relative;
}  


/**************************************************************************************************************/

/* Section Two */ 

.WhiteBackground_Container{
    background-color: #FFFFFF;
}

.TransitionImage{
    max-height: 780px;
    max-width: 780px;
    position: relative; 
    top: 60px;
    /* bottom: 465px;  */
}

.PhoneImage{ 
    max-height: 700px;
    max-width: 700px;
    position: relative; 
    top: 120px; 
    left: 90px; 
}

.SectionTwo_h1{
    color: #122032; 
    position: relative; 
    top: 0%; 
    left: 625px;
    bottom: 390px;
    font-weight: 600;
    font-size: 46px;
    line-height: 50px;

}

.SectionTwo_p{
    color: #122032; 
    position: relative; 
    top: 0%; 
    left: 625px;
    bottom: 390px;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
} 

.AppStoreImage{
    max-height: 300px;
    max-width: 300px;
    position: relative; 
    right: 510px; 
    bottom:400px; 
    left: 620px;  

}

.GoogleStoreImage{
    max-height: 300px;
    max-width: 300px; 
    position: relative; 
    right: 510px; 
    bottom: 400px;
    left: 620px;  
}

/*****************************************************************************************************************/

/* Section Three */ 

.SectionThree_h1{
    color: #122032; 
    font-weight: 600;
    font-size: 46px;
    line-height: 50px;
    text-align: center;
    position: relative;
    bottom: 180px; 
}
.SectionThree_p{
    color: #122032; 
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    text-align: center;
    position: relative;
    bottom:180px; 
}

.Section3_Container{
    display:flex; 
    flex-direction: row;
    justify-content: space-around;
    padding: 10px; 
}

.Section3_Container div {
    
    background-color: #FDF9F1;
    padding: 20px;
    border-radius: 8px;
    position: relative; 
    bottom: 150px; 
    height: 290px;
    width: 315px;
}

.QuotationMarkImage{
    max-height: 20px;
    max-width: 20px;
    margin-top: 30px;
}

.Section3_Container h3 {
    font-weight: 570;
    font-size: 16px;
    line-height: 24px;
}
.Section3_Container p{
    font-weight: 650;
    margin-top:50px;
}

/*******************************************************************************************************************/

/* Section Four */ 

.SectionFour_h1{
    color: #122032; 
    font-weight: 600;
    font-size: 46px;
    line-height: 50px;
    text-align: center;
    position: relative;
    bottom: 60px; 
}
.SectionFour_p{
    color: #122032; 
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    text-align: center;
    position: relative;
    bottom:60px; 
}
.Section4_Container{
    display:flex; 
    flex-direction: row;
    justify-content: space-around;
    padding: 10px; 
}

.Section4_Container div {

    padding: 20px;
    border-radius: 8px;
    position: relative; 
    bottom: 30px; 
}
.Section4_Container img{
    max-height: 150px;
    max-width: 150px;
}

/******************************************************************************************************************/

/* Section Five*/ 

.PurpleBackground_Container{
    background-color: #4D50A2;
    color: #FFFFFF; 
    text-align: center;
    height:760px;
}
.SectionFive_h1{
    font-weight: 600;
    font-size: 46px;
    line-height: 50px;
    text-align: center;
    position: relative;
    top: 50px; 
}
.SectionFive_p{
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    text-align: center;
    position: relative;
    top:30px;  
}
.SectionFive_button{
    color: #4D50A2;
    border: none; 
    padding: 24px 30px; 
    border-radius: 8px; 
    margin-top:50px;
    font-weight: bold; 
}
.SectionFive_button:hover{
    background-color: rgb(255, 224, 166);
    
}
.Section5Image{
    max-height: 1150px;
    max-width: 1150px;
  
    margin-top: 0px;
    padding: 39px;
}