@font-face {
    src:url(Fonts/Biancha-X3VOa.otf);  /*Font needed for the title*/
    font-family:'Biancha';
}

body{
    background-color: rgb(183, 152, 185);
    color: white;
    margin: 0px; 
}


h2{
    text-align: center;
    font-family: 'Biancha';
    font-size: 50px; 
    
}


h4{
   text-align: center;
   font-size: 20px;
   font-weight: lighter;
   position:relative; 
   bottom: 50px;
   letter-spacing: 2px;
   font-style: italic;
}


.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 30px;
}


.Container div{
    border: 1px #ccc solid;
    padding-left: 300px; 
    padding-right:300px;
    padding-top:30px;
    padding-bottom: 30px;
}


.box1{
    background-color: rgb(171, 248, 192)
}


.box2{
    background-color: rgb(242, 225, 130);
}


.box3{
    background-color: rgb(255, 151, 144);
}

.Container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.circle {
    border: 1px #ccc solid;
    padding: 30px; 
    width: 30px; 
    height:30px;
    border-radius: 50%;
    position: relative;
    bottom: 135px; 
    background-color: rgb(130, 238, 255); 
    opacity: 0.8;
    
}

#pentagram {
    margin: 0px auto;
    width: 0px; 
    margin: auto;
    position: relative; 
    right: 32px; 
    bottom: 180px;
}

#pentagram div {
  position:absolute;height:5px;border-radius:2px;
}

#star_1{
    transform:rotate(180deg) translateY(10px);background:#FAF8F6;width:65px;
}

#star_2{
    transform:rotate(-36deg) translateY(10px);background:#FAF8F6;width:65px;
}

#star_3{
    transform:rotate(36deg) translateY(10px);background:#FAF8F6;width:65px;
}

#star_4{
    transform:rotate(108deg) translateY(10px);background:#FAF8F6;width:65px;
}

#star_5{
    transform:rotate(-108deg) translateY(10px);background:#FAF8F6;width:65px;
}
